body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f0f0f0;
}

h1 {
  color: #333;
  text-align: center;
}

h2 {
  color: #444;
  margin-top: 40px;
}

h3 {
  color: #555;
  margin-top: 20px;
}

h4 {
  color: #666;
  font-weight: normal;
}

p {
  line-height: 1.6;
  margin-bottom: 20px;
}

ul {
  list-style: disc;
  margin-left: 40px;
  padding: 0;
}

ol {
  list-style: decimal;
  margin-left: 40px;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.bullet-point {
  background-color: #e5e5e5;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bullet-point p {
  margin-bottom: 10px;
}

code, pre {
  font-family: Monaco, monospace;
  font-size: 14px;
  background-color: #f9f9f9;
  padding: 2px 4px;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #666;
}

b {
  font-weight: bold;
}